<!DOCTYPE html>

<html lang="zh_cn">
<head>
	<title>Predfull</title>
	<%- include('meta') %>
</head>
<body>
	<%- include('titlebar') %>

	<div id="blue">
		<div class="container headerSpace">
			<div class="row centered box">
				<div class="col-xs-8 col-xs-offset-2">
					<h4>LEARN MORE ABOUT US</h4>
					<p>WE ARE DILIGENT PEOPLE</p>
				</div>
			</div>
			<!-- row -->
		</div>
		<!-- container -->
	</div>
	<!--  bluewrap -->


	<br>
	<br>

	<div class="container w">
		<div class="row centered">
			<div class="col-xs-4">
				<img class="img-circle" src="img/avatar/lky.jpg" alt="">
				<h4>刘开元</h4>
				<p>人是一株会思考的苇草.</p>
				<p><a href="#">liukaiy@iu.edu</a>
				</p>
			</div>
		</div>
	</div>

	<%- include('foot') %>
</body>
</html>
