<!DOCTYPE html>

<html lang="zh_cn">
<head>
	<title>Predfull Datasets</title>
	<%- include('meta') %>
</head>
<body>
	<%- include('titlebar') %>

	<div id="blue">
		<div class="container">
			<div class="center">
				<h1 class="demo-logo">
					Datasets for Predfull
				</h1>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div id="main" class="row centered">

			<div class="col-md-6 col-xs-12">
				<small>Dataset 1: raw mgf files</small>
				<a href=""></a>
			</div>

			<div class="col-md-6 col-xs-12">
				<small>Dataset 2: prediction results</small>
				<a href=""></a>
			</div>
		</div>
	</div>

	<br>
	<br>

	<%- include('foot') %>
</body>
</html>
