<!DOCTYPE html>

<html lang="zh_cn">
<head>
	<title>Predfull Datasets</title>
	<%- include('meta') %>
</head>
<body>
	<%- include('titlebar') %>

	<div id="blue">
		<div class="container">
			<div class="center">
				<h1 class="demo-logo">
					Datasets for Predfull
				</h1>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div id="main" class="row centered">

			<div class="col-md-12 col-xs-12">
				<h4>Dataset 1: raw mgf files</h4>
				<div><a href="https://scholarworks.iu.edu/dspace/handle/2022/24023">
					https://scholarworks.iu.edu/dspace/handle/2022/24023
				</a></div>
			</div>

			<div class="col-md-12 col-xs-12">
				<h4>Dataset 2: prediction results</h4>
				<div><a href="https://scholarworks.iu.edu/dspace/handle/2022/24598">
					https://scholarworks.iu.edu/dspace/handle/2022/24598
				</a></div>
			</div>
		</div>
	</div>

	<br>
	<br>

	<%- include('foot') %>
</body>
</html>
