	<div id="footer">
		<div class="container">
			<div class="row centered">
				<div class="col-xs-12">
					<h6>Predfull</h6>
					<p>WE ARE EXPLORERS. EXPLORERATION ARE OUR SUBJECTS.</p>
				</div>
			</div>
			<!-- row -->
		</div>
		<!-- container -->
	</div>
	<!-- r wrap -->

	<!--[if (gte IE 9)|!(IE)]><!-->
		<%# <script src="/js/jquery2.min.js"></script> %>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
	<!--<![endif]-->
	<!--[if lte IE 8 ]>
		<script src="/js/jquery-1.12.2.min.js"></script>
	<!--<![endif]-->

	<%# <script src="/js/bootstrap.min.js"></script> %>
	<script src="//cdnjs.cloudflare.com/ajax/libs/flat-ui/2.2.2/js/flat-ui.min.js"></script>

	<!--[if lt IE 8]>
		<script src="/js/icon-font-ie7.js"></script>
	<![endif]-->
	<!--[if lte IE 6]>
		<script type="text/javascript" src="/js/bootstrap-ie6.js"></script>
	<![endif]-->
