<!DOCTYPE html>

<html lang="zh_cn">
<head>
	<title>Predfull</title>
	<%- include('meta') %>
</head>
<body>
	<%- include('titlebar') %>

	<div id="headerwrap">
		<div class="container headerSpace">
			<div class="row centered">
				<div class="col-md-12">
					<h1 class="shadow">Predfull</h1>
					<h4 class="shadow light">
						Full-Spectrum Prediction of Peptides Tandem Mass Spectra using Deep Neural Network
					</h1>
				</div>

				<div class='col-md-6'>
					<a href="https://pubs.acs.org/doi/10.1021/acs.analchem.9b04867">
						<div class='btn btn-block ghost-btn shadow' style='font-size: 20px; margin-top: 20px;'>
							View Pulication
						</div>
					</a>
				</div>
				<div class='col-md-6'>
					<a href="/predict">
						<div class='btn btn-block ghost-btn shadow' style='font-size: 20px; margin-top: 20px;'>
							Try Online Prediction
						</div>
					</a>
				</div>
			</div>
		</div>
		<!-- container -->
	</div>

	<div class="dg">
		<div class="container-fluid wb">
			<div class="row centered">
				<div class="col-md-4">
					<div class="tilt">
						<img class="indeximg" src="img/forms.png" />
						<div class="releft linkText">
							<h4>About Predfull</h4>
							<p class="releft greenTxt">
								The first complete spectra prediction tool.
							</p>
							<p class="releft">
								<ul>
									<li>Complete prediction for all peaks.</li>
									<li>Support multiple charges and both HCD, ETD.</li>
								</ul>
							</p>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="tilt">
						<img class="indeximg" src="img/chat.png" />
						<div class="releft linkText">
							<h4>Code</h4>
							<p class="releft greenTxt">
								Predfull is open sourse to everyone, star it on Github now.
							</p>
							<i class="fa fa-github space"></i>
							<a target="_blank" href="https://github.com/lkytal/PredFull">
								PredFull on Github
							</a>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="tilt">
						<img class="indeximg" src="img/dev.png" />
						<div class="releft linkText">
							<h4>Dataset</h4>
							<p class="releft">
								Training and testing dataset for Predfull.
							</p>
							<i class="fa fa-database space"></i>
							<a target="_blank" href="https://scholarworks.iu.edu/dspace/handle/2022/24023">
								Training Datasets
							</a>
							<br />
							<i class="fa fa-database space"></i>
							<a target="_blank" href="https://scholarworks.iu.edu/dspace/handle/2022/25283">
								Testing Datasets and Sample predictions
							</a>
						</div>
					</div>
				</div>
			</div>
			<!-- row -->
		</div>
		<!-- container -->
	</div>

	<div class="container w">
		<div class="row">
			<h4>More Information</h4>
		</div>
		<div class="row">
			<%# <iframe id="frame" src="/index.md"> </iframe> %>
			<%- body %>
		</div>
	</div>

	<%- include('foot') %>
</body>
</html>
