<!DOCTYPE html>

<html lang="zh_cn">
<head>
	<title>Predfull</title>
	<%- include('meta') %>
</head>
<body>
	<%- include('titlebar') %>

	<div id="headerwrap">
		<div class="container headerSpace">
			<div class="row centered">
				<div class="col-md-12">
					<h1 class="shadow">Predfull</h1>
					<h2 class="shadow">Full-Spectrum Prediction of Peptides Tandem Mass Spectra using Deep Neural Network</h1>
				</div>
			</div>
		</div>
		<!-- container -->
	</div>

	<div class="container-fluid w">
		<div class="row centered">
			<div class="col-md-4">
				<i class="fa fa-comment"></i>
				<h4>也西摩尔简介</h4>
				<br>
				<p class="releft">
					对接企业技术难题与高校科研技术的一站式服务平台, 致力于科技交流和传播, 科技成果转化以及技术咨询等服务
					<br />
					<a href="about.html">关于我们</a>
				</p>
			</div>
			<!-- col-xs-4 -->

			<div class="col-md-4">
				<i class="fa fa-search"></i>
				<h4>产品服务</h4>
				<br>
				<p class="releft">
					也西科技为解决企业技术突破，提供最新的科研信息咨询，为企业量身定制的技术突破方案，国内权威高校实验室的对接，
					项目实施与监督。
					<br />
					<a href="works.html">我们的服务</a>
				</p>
			</div>
			<!-- col-xs-4 -->

			<div class="col-md-4">
				<i class="fa fa-institution"></i>
				<h4>团队简介</h4>
				<br>
				<p class="releft">
					来自于中国科学技术大学的一流技术团体, 把我技术前沿, 了解市场动向, 为您提供专业的服务.
				</p>
			</div>
			<!-- col-xs-4 -->
		</div>
		<!-- row -->
	</div>

	<div class="dg">
		<div class="container-fluid wb">
			<div class="row centered">
				<div class="col-md-4">
					<div class="tilt">
						<a href="form">
							<div class="linkText">
								<img class="indeximg" src="img/forms.png" />
								<h4>未来科技论坛</h4>
								<p class="releft">
									未来科技论坛是由也西科技主导的高新科技交流论坛, 邀请行业领先人士和高校实验室技术领头人员,
									发现和评估最新最优秀的技术, 探讨预测市场的动态. 为您提供市场和未来的全面参考.
								</p>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4">
					<div class="tilt">
						<a href="chat">
							<div class="linkText">
								<img class="indeximg" src="img/chat.png" />
								<h4>也西科研一日谈</h4>
								<p class="releft">
									也西科研一日谈是由也西科技精心打造的科技前沿访谈, 定期采访技术领先的科研专业人士,
									高瞻远瞩的了解和探讨最前沿科技, 让您把握未来科技的趋势, 见于未发, 知于未萌.
								</p>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-4">
					<div class="tilt">
						<a href="login">
							<div class="linkText">
								<img class="indeximg" src="img/dev.png" />
								<h4>科研设备共享</h4>
								<p class="releft">
									共享高校实验室的尖端科研仪器, 提供样品的测试, 制备和监督用途. 价格合理而种类广泛.
								</p>
							</div>
						</a>
					</div>
				</div>
			</div>
			<!-- row -->
		</div>
		<!-- container -->
	</div>

	<%- include('foot') %>
</body>
</html>
