	<!-- Fixed navbar -->
	<div id="headbar" class="navbar navbar-inverse navbar-fixed-top">
	<%# navbar-fixed-top %>
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Predfull</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right headul">
					<li id="indexbar">
						<a href="/">home</a>
					</li>
					<li id="prebar">
						<a href="/predict">Prediction</a>
					</li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
